.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 100px;
    margin: auto;
    display: grid;
    text-align: center;
    padding: 20px 20px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 500px;
    margin: auto;
    display: grid;
    text-align: center;
    box-shadow: 2px 1px 29px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    grid-gap: 20px;
  }

.screen{
    background-color: #414141;
    border-radius: 12px;
    color: #57e8ff;
    padding: 10px;
    grid-column: 1 / 5;
}

.screen2{
    background-color: #414141;
    border-radius: 12px;
    color: #57e8ff;
    padding: 10px;
    grid-column: 2 / 4;
}


.screen > input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;
    width: 100%;
}

.screen2 > input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;
    width: 100%;
}

.btn-cal{
    background-color: white;
}

.btn-cal-radius{
    border-radius: 10px;
}

.btn-cal > input{
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 35px;
}

button{
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 35px;
}

.btn-cal > .equal{
    background-color: #fffb88;
}

.btn-cal > .clean{
    background-color: #98f8ab;
}

.btn-cal :hover{
    transition-duration: 0.4s;
    background-color: #ffb497;
    color: white;
}

.btn-clean :hover{
    transition-duration: 0.4s;
    background-color: #66f789;
    color: white;
}

.btn-equal :hover{
    transition-duration: 0.4s;
    background-color: #fffb59;
    color: black;
}



body {
    --color-bg: #ddd;
    --color-texto: #EE6352;
}

body.dark-theme {
    --color-bg: rgb(47, 47, 47);
    --color-texto: #eeeeee;
}

body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
    body {
        --color-bg: rgb(47, 47, 47);
        --color-texto: #ffb847;
    }

    body.light-theme {
        --color-bg: #ddd;
        --color-texto: #000000;
    }

    img {
        filter: brightness(.8) contrast(1.2);
    }

}

body {
    background-color: var(--color-bg);
}

h1 {
    color: var(--color-texto);
}

